*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Header Section */
.header{
    text-align: center;
    padding: 160px 200px;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.title{
    font-size: 50px;
}
.head-description{
    padding: 30px 210px;
}
.btn-primary{
    color: white;
    font-size: 20px;
    background-color: rgb(255, 72, 0);
    margin: 0;
    padding: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
/* section */
.donate-today{
    text-align: center;
    margin-top: 100px;
}
.donate-title{
    margin-bottom: 20px;
}
.donate-description{
    margin-bottom: 40px;
    margin-left: 350px;
    margin-right: 350px;
}
.amount{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
.taka{
    width: 200px;
}
.taka-1{
    color: aqua;
    background-color: violet;
    padding: 20px;
    margin: 20px;
}
